/* Headings */
h1.page-title {
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
}
/* Page Title Panel */
.title-panel {
    background: url(../images/acoustic-guitar-title-panel-1920x250.jpg) center center;
    background-size: cover;
    margin-top: 50px;
    padding: 40px 0;
    position: relative;
}
.title-panel:before {
    content: "";
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.title-panel > .container {
    position: relative;
    z-index: 2;
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    h1.page-title {
        font-size: 60px;
    }
    .title-panel {
        margin-top: 70px;
        padding: 80px 0;
    }
}
